body{
    background-color: rgb(13, 247, 255);
}
tr.dio{
    background-color: red;
}
p.dio1{
    background-color: white;
}
ol.dio2{
    background-color: chartreuse;
}
td.dio3{
    background-color: silver;
}
div.dio4{
    background-color: tomato;
}
li.dio5{
    background-color: saddlebrown;
}
td.dio6{
    background-color: navy;
}
h1:hover{
    color: black;
    background-color: yellow;
}

#top-container{
    background-color: red;
}

div.nav-fixed{
    width: 2000px;
    height: 30px;
    background-color: red;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

h2{
    font-family: 'Henny Penny', cursive;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
}

h3{
    font-family: 'Henny Penny', cursive;
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
}

nav{
    font-family: fantasy;
}
@media screen and (max-width: 400px){
    body{
        font-size: 3rem;
    }
}